<div class="nav">
  <div class="logo">BBDSolution</div>
  <div class="menuIcon">
    <i class="fa-solid fa-sun" (click)="darkMode(false)" *ngIf="dark"></i>
    <i class="fa-solid fa-moon" (click)="darkMode(true)" *ngIf="!dark"></i>
    <button class="menuIcon" mat-button [matMenuTriggerFor]="menu">+</button>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/calcbbbd" routerLinkActive="active">
    Calc BBD
  </button>
  <button mat-menu-item routerLink="/batchfinder" routerLinkActive="active">
    batchFinder
  </button>
  <button mat-menu-item routerLink="/giveaway" routerLinkActive="active">
    Giveaway
  </button>
  <!-- <button mat-menu-item routerLink="/insert" routerLinkActive="active">
    InsertData
  </button> -->
  <!-- <button mat-menu-item routerLink="/records" routerLinkActive="active">
    Records
  </button> -->
</mat-menu>
