/* HTML: <div class="loader"></div> */
.main_loader{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(103, 102, 102, 0.166);
.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
}
.mat-datepicker-toggle{
  position: absolute;
  right: 0.5rem;
}

@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}


.main {
  width: 100%;
  height: auto;
  font-size: 2rem;

  @media screen and (max-width:768px) {
    font-size: 1.3rem;
  }
}

.main_body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sec {
  position: relative;
  display: flex;
  align-items: center;
}

h4 {
  padding-right: 1rem;
}

p {
  margin-block: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  margin: 0.5rem auto;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;

  @media screen and (max-width:768px) {
    font-size: 1rem;
  }

  padding: 0.5rem 2rem;
}

input {
  width: 20rem;
  height: 1.5rem;
  margin-block: 0.5rem;
  padding: 0.8rem 1.2rem;
  border: 2px solid gray;
  font-size: 1.5rem;
  border-radius: 0.5rem;

  @media screen and (max-width:768px) {
    font-size: 1rem;
  }

  color: black;

  &[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
.buttons{
  display: flex;
  justify-content: space-between;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  width: 90%;
  margin: 0.5rem auto;
}

td {
  padding: 0.5rem;
}