<div class="main_wrap">
  <div class="main">
    <div class="main_body">
      <form [formGroup]="myForm" (ngSubmit)="result()">
        <div class="sec">
          <input
            type="date"
            id="date"
            class="date"
            formControlName="dateValue"
          />
        </div>
        <div class="sec">
          <input
            type="number"
            id="nextDay"
            class="nextDay"
            formControlName="numberValue"
            placeholder="Calculate Days"
          />
        </div>
        <button class="button" [disabled]="myForm.invalid" type="submit">
          Calculate
        </button>
      </form>

      <p>Batch:- {{ year }}{{ daycount }}<br /></p>
      <p>Calculated Date:- {{ calDya | date }}</p>

      <table>
        <th colspan="2" align="center">
          <tr>
            <h4>Pre Calculated BBD</h4>
          </tr>
        </th>
        <tr>
          <td>
            <p>30 Days: - {{ thirteeDays | date }}</p>
          </td>
          <td>
            <p>50 Days: - {{ fiftyDays | date }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>63 Days: - {{ sixtyThreeDays | date }}</p>
          </td>
          <td>
            <p>90 Days: - {{ nineTee | date }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>120 Days: - {{ oneTwoDays | date }}</p>
          </td>
          <td>
            <p>150 Days: - {{ oneFiveDays | date }}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
