$large_fonts: 2rem;
$small_fonts: 1.2rem;
.main_wrap {
  position: relative;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Sticky navbar */
.main_wrap nav {
  height: 8vh;
  position: sticky;
  top: 0;
  background: #333;
  color: white;
  z-index: 1000;
}

/* Main content container */
.main_wrap .main_body {
  flex: 1;
  width:100%; /* Fixed width for shorter content */
  margin: 0 auto;
  overflow: auto;
  height: calc(100vh - 14rem);
  @media screen and (max-width:768px) {
    height: auto;
  }
}

/* Sticky footer */
.main_wrap .footer {
  height: auto;
  text-align: center;
  background: #333;
  color: white;
  position: sticky;
  bottom: 0;
  width: 100%;
  font-size: $small_fonts;
  @media screen and (max-width:768px) {
    position: inherit;
  }
}
