<div class="main">
  <div class="card">
    <div>
      <div class="main_body" *ngIf="isVisible && tab === 'bbd'">
        <p class="batch-info">
          <strong>Batch:</strong> {{ batch }}<br />
          <strong>Day Letter:</strong> {{ dayLetter }}
        </p>

        <form [formGroup]="myForm" (ngSubmit)="result()" class="form">
          <div class="input-group">
            <input
              matInput
              [matDatepicker]="picker"
              (click)="activateToggle(picker)"
              (dateChange)="onDateChange(myForm.value.dateValue)"
              formControlName="dateValue"
              placeholder="Choose a Date"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
          <input
            type="number"
            id="nextDay"
            class="nextDay"
            formControlName="numberValue"
            placeholder="Shelf Life"
          />

          <div class="buttons">
            <button
              class="button shadow"
              mat-raised-button
              [disabled]="myForm.invalid"
              type="submit"
            >
              Calculate
            </button>
            <button
              class="button shadow reset"
              mat-raised-button
              type="button"
              (click)="julianReset()"
            >
              Reset
            </button>
          </div>
        </form>

        <p class="calculated-date" *ngIf="calDya">
          <strong>Calculated Date:</strong> {{ calDya | date }}
        </p>
        <table class="bbd-table">
          <thead>
            <tr>
              <th colspan="3">
                <h4>Pre Calculated BBD</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of getRows(calculatedDaysData); let i = index">
              <td *ngFor="let x of row">
                {{ x.name }} Days: <br />
                {{ x.data | date }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
