<div class="main">
  <div class="card">
    <div class="tab-content">
      <div class="main_body">

        <table class="bbd-table">
          <thead>
            <tr>
              <th>
                <h4>Sr No</h4>
              </th>
              <th>
                <h4>OrderNumber</h4>
              </th>
              <th>
                <h4>Product</h4>
              </th>
              <th>
                <h4>Flavour</h4>
              </th>
              <th>
                <h4>Batch</h4>
              </th>
              <th>
                <h4>BBD</h4>
              </th>
              <th>
                <h4>Planned Pack</h4>
              </th>
              <th>
                <h4>Produced Pack</h4>
              </th>
              <th>
                <h4>Status</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>DP6768</td>
              <td>Slices</td>
              <td>CBP</td>
              <td>25046</td>
              <td>15/05/2025</td>
              <td>23025</td>
              <td>23050</td>
              <td>Active</td>
            </tr>
          </tbody>
        </table>

        
      </div>
    </div>
  </div>


</div>
