/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
.mt-2{
  margin-top: 2rem;
}
.mat-dialog-container{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80% !important;
  height: 80% !important;
  transform: translate(-50%,-50%) !important;
}
