    <div class="main">
      <div class="card">
        <div>
          <div class="main_body">
            <form
              [formGroup]="julianCal"
              (ngSubmit)="calculateJulian()"
              class="form mt-2"
            >
              <div class="input-group">
                <input
                  matInput
                  formControlName="julian"
                  type="number"
                  pattern="^[-+]?\d{0,5}(\.\d{0,2})?$"
                  placeholder="Enter batch code"
                />
              </div>
              <div class="buttons">
                <button
                  class="button shadow"
                  mat-raised-button
                  [disabled]="julianCal.invalid"
                  type="submit"
                >
                  Calculate
                </button>
                <button
                  class="button shadow reset"
                  mat-raised-button
                  type="reset"
                  (click)='julianReset()'
                >
                  Reset
                </button>
              </div>
            </form>
            <p class="calculated-date">
              <strong *ngIf="julianDates">JULIAN Date:</strong>
              {{ julianDates | date }}
            </p>
          </div>
        </div>
      </div>
    </div>
  
  